<section>
  <p>
    <br/>
    <a href="https://www.icmc.usp.br/graduacao/ciencias-de-computacao-bacharelado"><b>Degree:</b></a> Computer Science (USP - ICMC).
    <br/>
    <a href="https://www.fog.icmc.usp.br/"><b>Extension Groups:</b></a> I was a member of Fog (The Fellowship of the Game), a game development group.
    <br/><br/>
    <a href="https://www.beetlesone.com"><b>The Beetles One:</b></a> A front-end (static) website that I made for my band while I was at university.
    <br/>
    <a href="https://wtiozzo.itch.io/contra-corona"><b>Contra Corona:</b></a> An educational game about coronavirus I've worked on with a group of five people which was supported by FAPESP and CNPQ.
    <br/>
    <a href="https://wtiozzo.itch.io/monkey-parkour"><b>Monkey Parkour:</b></a> An endless runner game I've worked on during my internship.
  </p>
</section>
