<div class="row">
  <div class="card green">
    <h2>Degree</h2>
    <p>Computer Science (USP - ICMC)</p>
  </div>

  <div class="card blue">
    <h2>Academic Groups</h2>
    <p>The Fellowship of the Game (FoG)</p>
  </div>

  <div class="card red">
    <h2>Projects</h2>
    <p>Contra Corona (FAPESP/CNPQ)</p>
  </div>
</div>
