<section>
  <p>
    <br/>
    <b>Location:</b> São Carlos - SP.
    <br/>
    <b>Career:</b> I've worked as an english teacher in the past and I also did an internship in educational game development.
    <br/>
    <b>Goals:</b> To become a good professional.
    <br/>
    <b>Curiosities:</b> I'm also a drummer and I study japanese language and game development as a hobby.
  </p>
</section>
