<div class="row">
  <div class="card green">
    <h2>About Me</h2>
    <p>Name: Wesley Tiozzo</p>
    <p>City: São Carlos</p>
    <p>State: SP</p>    
  </div>

  <div class="card blue">
    <h2>Past Experiences</h2>
    <p>Internship in Game Development</p>
    <p>English Teacher</p>
    <p>Drummer</p>
  </div>

  <div class="card red">
    <h2>Hobbies</h2>
    <p>Music</p>
    <p>Games</p>
    <p>Japanese Language</p>
  </div>
</div>
