<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>My Web Page</title>
  </head>

  <body>
    <h1>Wesley Tiozzo</h1>
    <br/>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
    </ul>
    <br/>
    <p>
      <b>Education:</b> Computer Science (USP - ICMC).
      <br/>
      <b>Career:</b> I've worked as an English Teacher in the past and I also did an internship in Educational Game Development.
      <br/>
      <b>Goals:</b> To become a good web developer.
      <br/>
      <b>Curiosities:</b> I study japanese language and game development as a hobby.
    </p>
  </body>
</html>
