<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <title>Wesley Tiozzo</title>
  </head>

  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/education">Education & Projects</a>
        </li>
        <li>
          <a href="/pr">Pull Requests</a>
        </li>
      </ul>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
  </body>
</html>
