<section>
  <p>
    <br/>
    <a href="https://github.com/wesjrock/log-parser/pull/4"><b>Log Parser:</b></a> A log parser made in Ruby. 
    <br/>
    <a href="https://github.com/wesjrock/sinatra-app/pull/1"><b>Sinatra App:</b></a> A sinatra/ruby web app.
  </p>
</section>
