<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>My Web Page</title>
  </head>

  <body>
    <h1>Wesley Tiozzo</h1>
     <br/>
    <ul>
      <li>
        <a href="/">About Me</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <li>
        <a href="/pr">Pull Requests</a>
      </li>
    </ul>
    <br/>
    <p>
      <a href="https://github.com/wesjrock/log-parser/pull/4"><b>Log Parser:<b></a> A log parser made in Ruby. 
    </p>
  </body>
</html>
