<div class="row">
  <div class="card green">
    <h2>Log Parser</h2>
    <p>https://github.com/wesjrock/log-parser/pull/4</p>
  </div>

  <div class="card blue">
    <h2>Sinatra</h2>
    <p>https://github.com/wesjrock/sinatra-app/pull/1</p>
  </div>

</div>
